body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
  --fg-color: #303030;
  --bg-color: #282828;
}

header {
  background: var(--fg-color);
}

header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header .container li {
  float: right;
}

header .container li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

header .container li a:hover:not(.active) {
  color: var(--primary);
}

header a {
  color: #333;
  text-decoration: none;
}

.container h2 {
  color: #fff;
}

/* Problem Details */
.problem-item {
  background: var(--fg-color);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.problem-item h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.problem-item p {
  display: block;
  color: #fff;
}

.problem-item label.difficulty {
  border-radius: 20px;
  border: 2px solid #1aac83;
  padding: 2px 12px;
}

.problem-item label.language {
  border-radius: 20px;
  border: 2px solid #1aac83;
  padding: 2px 12px;
}

.problem-item button {
  background: var(--primary);
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
}

.problem-item div.button {
  display: flex;
  justify-content: flex-end;
}

/* Problem Description */

.problem-desc {
  background: var(--fg-color);
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

.problem-desc h3 {
  margin: 0;
  font-size: 1.2em;
}

.problem-desc_description p {
  font-size: 0.91em;
}

.sample-input,
.sample-output {
  font-weight: bold;
}

.input,
.output {
  background: var(--bg-color);
  margin: 10px 0 10px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.84em;
}

.input p,
.output p {
  margin: 5px;
}

.problem-desc_button-div {
  margin: 20px 0 20px 0;
}

.problem-desc_button {
  background: var(--primary);
  border: 0;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
  margin: auto;
  display: block;
  cursor: pointer;
}

/* Submit */

.submit-result-container {
  background: var(--fg-color);
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 60%;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

/* .success-container {
  background: var(--primary);
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  position: relative;
  width: 50%;
  text-align: center;
  color: white;
} */

.success-container .p {
  margin: 0px;
  padding: 0px;
}

.submit-container {
  background: var(--fg-color);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.submit-container label {
  color: #fff;
  margin: 0;
}

.submit-container select {
  padding: 5px;
  margin-left: 20px;
  border-radius: 4px;
}

.submit-container textarea {
  background-color: var(--bg-color);
  color: #fff;
  margin: 10px 10px 10px 0;
  padding: 5px;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
}

.buttons {
  text-align: center;
}

.buttons button {
  background: var(--primary);
  border: 0;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: auto;
  font-weight: bold;
  margin: 8px;
  cursor: pointer;
}

/* Problem Form */

.form-container {
  width: 100%;
  text-align: center;
}

.form-container h2,
h3 {
  color: white;
}

.problem-form {
  background: var(--fg-color);
  border-radius: 5px;
  margin: 0 0 30px 0;
  padding: 20px;
  color: white;
  display: inline-block;
  width: 800px;
}

.problem-form label {
  display: inline-block;
}

.problem-form_desc {
  text-align: left;
  margin: 0;
}

.problem-form input[type="text"],
.problem-form textarea,
.problem-form select {
  width: 85%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--bg-color);
  color: white;
}

input[type="checkbox"] {
  padding-left: 0%;
  border: 1px solid red;
  border-radius: 4px;
  resize: vertical;
  vertical-align: middle;
  float: left;
  margin-left: 10px;
  margin-top: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.col-2 .checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
}

.col-2 .checkbox-grid li label {
  display: block;
  overflow: hidden;
  float: left;
  cursor: pointer;
}

.col-1 {
  float: left;
  width: 25%;
  margin-top: 20px;
  text-align: start;
}

.col-2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

button {
  background-color: var(--primary);
  color: white;
  border: 0;
  padding: 10px;
  margin-top: 20px;
  border-radius: 18px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
}

/* Login and Register */
.login-container {
  width: 100%;
  margin: 0;
  align-items: center;
  text-align: center;
}

.login {
  background: var(--fg-color);
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  display: inline-block;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h3 {
  margin: 0;
}

.login input {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color: var(--text-color);
  background-color: var(--foreground);
}

.email-input {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.email-input label {
  flex: 1;
}

.email-input input {
  flex: 2;
}

.password-input {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.password-input label {
  flex: 1;
}

.password-input input {
  flex: 2;
}