body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

header {
  background: #fff;
}

header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

/* Problem Details */
.problem-details {
  background: #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.problem-item h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.problem-item p {
  display: block;
}

.problem-item label.difficulty {
  border-radius: 20px;
  border: 2px solid #1aac83;
  padding: 2px 12px;
}

.problem-item label.language {
  border-radius: 20px;
  border: 2px solid #1aac83;
  padding: 2px 12px;
}
